.feature-panel
    .feature-panel__main
        .feature-panel__header
            //- .feature-panel__close-icon.fas.fa-times
        .feature-panel__content
            .feature-heading
                .feature-heading__icon.far.fa-star
                .feature-heading__name barred_for_non_payment_sms_31_60days (TINYINT)
            .feature-info
                .feature-info__icon.far.fa-bell
                .feature-info__content The feature is marked for decommissioning.
            .feature-operations
                span.feature-operations__operation
                    i.feature-operations__icon.far.fa-pause-circle
                    span.feature-operations__name Pause
                span.feature-operations__operation
                    i.feature-operations__icon.far.fa-play-circle
                    span.feature-operations__name Resume
                span.feature-operations__operation
                    i.feature-operations__icon.far.fa-arrow-alt-circle-up
                    span.feature-operations__name Mark for promomtion
                span.feature-operations__operation
                    i.feature-operations__icon.far.fa-meh-blank
                    span.feature-operations__name Unmark promomtion
                span.feature-operations__operation
                    i.feature-operations__icon.fas.fa-ban
                    span.feature-operations__name Decommission
                span.feature-operations__operation
                    i.feature-operations__icon.far.fa-meh
                    span.feature-operations__name Unmark decommission
                span.feature-operations__operation
                    i.feature-operations__icon.far.fa-arrow-alt-circle-down
                    span.feature-operations__name Mark for decommission
            .feature-details
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fas.fa-child
                        .feature-details__name Job ID
                    .feature-details__content 1234567890
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fas.fa-mug-hot
                        .feature-details__name Job Status
                    .feature-details__content Built
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fas.fa-star
                        .feature-details__name Feature
                    .feature-details__content barred_for_non_payment_sms_31_60days (TINYINT)
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fas.fa-battery-three-quarters
                        .feature-details__name State
                    .feature-details__content Built
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.far.fa-calendar-plus
                        .feature-details__name Created at
                    .feature-details__content 2019-03-12T10:55:24.677816
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fab.fa-amilia
                        .feature-details__name Script Language
                    .feature-details__content SQL
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.far.fa-calendar-check
                        .feature-details__name Updated at
                    .feature-details__content 2019-03-12T00:17:43.748Z
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fas.fa-glasses
                        .feature-details__name Predictive Job
                    .feature-details__content
                        .predictive-job
                            .predictive-job__row
                                span.predictive-job__title Date
                                span.predictive-job__content 1.0
                            .predictive-job__row
                                span.predictive-job__title Feature
                                span.predictive-job__content recd_del_flg_bin
                            .predictive-job__row
                                span.predictive-job__title Zone
                                span.predictive-job__content lab
                            .predictive-job__row
                                span.predictive-job__title Feature Store
                                span.predictive-job__content fixedservice
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.far.fa-calendar-minus
                        .feature-details__name Historic Date (from date)
                    .feature-details__content 2019-03-17T200000Z
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fas.fa-database
                        .feature-details__name Feature(Choc-BERI) Dependencies
                    .feature-details__content
                        .feature-dependencies
                            .feature-dependencies__row
                                .feature-dependencies__title Feature Stores
                                .feature-dependencies__content 
                                    .feature-dependencies__item
                                        i.feature-dependencies__icon.fas.fa-shopping-cart
                                        span.feature-dependencies__name fixedservice
                            .feature-dependencies__row
                                .feature-dependencies__title Features
                                .feature-dependencies__content 
                                    .feature-dependencies__item
                                        i.feature-dependencies__icon.far.fa-star
                                        span.feature-dependencies__name fixedservice.recd_del_flg_bin
                                    .feature-dependencies__item
                                        i.feature-dependencies__icon.far.fa-star
                                        span.feature-dependencies__name fixedservice.recd_del_flg

                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fas.fa-database
                        .feature-details__name External Data Source Dependencies
                    .feature-details__content
                        .external-dependencies
                            .external-dependencies__row
                                .external-dependencies__title Source
                                .external-dependencies__content 
                                    .external-dependencies__item
                                        .external-dependencies__icon.fas.fa-book
                                        .external-dependencies__name glue
                            .external-dependencies__row
                                .external-dependencies__title Origin
                                .external-dependencies__content 
                                    .external-dependencies__item
                                        .external-dependencies__icon.fas.fa-cross
                                        .external-dependencies__name idv
                            .external-dependencies__row
                                .external-dependencies__title Tables
                                .external-dependencies__content 
                                    .external-dependencies__item
                                        .external-dependencies__icon.fas.fa-table
                                        .external-dependencies__name idv.s_octf_nbn_srvc
                                    .external-dependencies__item 
                                        .external-dependencies__icon.fas.fa-table
                                        .external-dependencies__name idv.s_sfdc_cse
                                    .external-dependencies__item 
                                        .external-dependencies__icon.fas.fa-table
                                        .external-dependencies__name idv.s_octf_dsl_srvc
                .feature-details__row
                    .feature-details__title
                        .feature-details__icon.fas.fa-shopping-cart
                        .feature-details__name Feature Store
                    .feature-details__content fixedservices
                .feature-details__row.feature-details__row--failure
                    .feature-details__title
                        .feature-details__icon.fas.fa-exclamation-circle
                        .feature-details__name Failure Message
                    .feature-details__content Exception: Duplicates exist in the entity rows. Duplicate or incorrect data is created in the Feature Store. Entity count:466934!=466932