.top-bar
    span.user__name Oh Xyz
    a.user__profile(href="./")
        .user__avatar
            i.fas.fa-user-circle
    a.logout(href="./login.html")
        i.top-bar__icon.fas.fa-door-closed
        i.top-bar__icon.fas.fa-door-open