.upload-scripts.upload-scripts--sql(data-script="sql")
    .editor.splitter-left
        #code-editor.editor__main
        .editor__bar
            .editor__functions
                .editor__icon.editor__icon--decrease-font-size.fas.fa-font
                .editor__icon.editor__icon--increase-font-size.fas.fa-font
                .editor__icon.editor__icon--full-screen.fas.fa-expand
    .splitter
        .splitter__handle.fas.fa-grip-lines-vertical
    .ui.form.splitter-right
        .field
            label.field__title(for="table-dependencies") BERI Table Dependencies
            .field__content.ui.fluid.search.dropdown.selection.multiple
                input#table-dependencies(type="hidden" name="table-dependencies")
                i.dropdown.icon
                .default.text Table Dependencies
                .menu
                    .item(data-value="beri2-parquetaggregation-spike.bnd2_asg_001_192_16") beri2-parquetaggregation-spike.bnd2_asg_001_192_16
                    .item(data-value="beri2_parquet_aggregation_spike.conversation_partitioned_bucketed_0403") beri2_parquet_aggregation_spike.conversation_partitioned_bucketed_0403
                    .item(data-value="d_choc_beri_data.d_choc_beri_fraudcdr_lab_eavt_latest") d_choc_beri_data.d_choc_beri_fraudcdr_lab_eavt_latest
                    .item(data-value="idv_bkp_pii.s_adob_detl_forcp2") idv_bkp_pii.s_adob_detl_forcp2
                    .item(data-value="ingestion-sftp-erroneous-session-data.allot") ingestion-sftp-erroneous-session-data.allot
        
        .field
            label.field__title(for="feature-dependencies") BERI Feature Dependencies
            .field__content.ui.fluid.search.dropdown.selection.multiple
                input#feature-dependencies(type="hidden" name="feature-dependencies")
                i.dropdown.icon
                .default.text Feature Dependencies
                .menu
                    .item(data-value="fixedservice.OctaneID") fixedservice.OctaneID (STRING)
                    .item(data-value="fixedservice.NetworkElement") fixedservice.NetworkElement (STRING)
                    .item(data-value="fixedservice.plan_name") fixedservice.plan_name (STRING)
                    .item(data-value="fixedservice.Small_hist") fixedservice.Small_hist (FLOAT)

        .field
            label.field__title(for="feature-store") BERI Feature Store
            .field__content.ui.fluid.search.dropdown.selection
                input#feature-store(type="hidden" name="feature-store")
                i.dropdown.icon
                .default.text Feature Store
                .menu
                    .item(data-value="fixedservice") fixedservice
                    .item(data-value="mobile") mobile
                    .item(data-value="air") air
                    .item(data-value="earth") earth

        .field
            .field__content.ui.checkbox
                input#historical-feature(type="checkbox" name="historical-feature")
                label(for="historical-feature") Historical Feature

        .field-group

            .field-group__header
                span.field-group__title Add feature(s)
                i.fas.fa-plus-circle.field-group__icon.field-group__icon--add-feature
                i.fas.fa-minus-circle.field-group__icon.field-group__icon--remove-feature

            .field-group__content
                .field
                    .label.field__title Feature 1
                    .field__content.ui.input.labeled
                        i.ui.label.fas.fa-star
                        input.feature-name(type="text" name="feature-name-1" placeholder="Feature Name")
                    .field__content.ui.fluid.search.dropdown.selection
                        input.feature-data-type(type="hidden" name="feature-data-type-1")
                        i.dropdown.icon
                        .default.text Data Type
                        .menu
                            .item(data-value="TINYINT") TINYINT
                            .item(data-value="SMALLINT") SMALLINT
                            .item(data-value="TIMESTAMP") TIMESTAMP
                            .item(data-value="VARCHAR") VARCHAR

        .field
            label.field__title Code Feedback
            .field__content
                .code-feedback.code-feedback--success 
                    .code-feedback__icon.far.fa-smile
                    .code-feedback__content Everthing looks good.
        .field
            .validate-button
                .validate-button__icon.fas.fa-calendar-check
                .validate-button__content Validate