extends _layout.pug

block link
    - var path = 'browse-files'
        
block main
    .main__header
        .main__zone.main__zone--exp
            .zone-icon.i.far.fa-map
            .zone-name Exploratory
        .main__title Explorer environment files
        .main__breadcrumb
                span Browse Files
                span /
                a(href="/") Choc-BERI
    .main__content.main__content--browse-files
        .file-browser
            .file-browser__header
                .file-browser__title BROWSE FILES
            .file-browser__content
                .ui.list 
                    .item.item--folder
                        i.item__icon.far.fa-folder
                        i.item__icon.far.fa-folder-open
                        i.item__icon.dropdown.icon
                        .content 
                            .header src
                            .description Source files for project
                            .list 
                                .item.item--folder
                                    i.item__icon.far.fa-folder
                                    i.item__icon.far.fa-folder-open
                                    i.item__icon.dropdown.icon.item__icon
                                    .content 
                                        .header site
                                        .description Your sites theme
                                .item.item--folder
                                    i.item__icon.far.fa-folder
                                    i.item__icon.far.fa-folder-open
                                    i.item__icon.dropdown.icon
                                    .content 
                                        .header themes
                                        .description Packaged theme files
                                        .list 
                                            .item.item--folder
                                                i.item__icon.far.fa-folder
                                                i.item__icon.far.fa-folder-open
                                                i.item__icon.dropdown.icon
                                                .content 
                                                    .header default
                                                    .description Default packaged theme
                                            .item.item--file
                                                i.item__icon.far.fa-file
                                                .content 
                                                    .header 
                                                        a my_theme.theme
                                                    .description
                                                        span.last-modified
                                                            span.last-modified__title last modified
                                                            span.last-modified__content 2018-10-01 05:17:08
                                                        span.file-size
                                                            span.file-size__title size
                                                            span.file-size__content 43.5kb
                                            .item.item--file
                                                i.item__icon.far.fa-file
                                                .content 
                                                    .header 
                                                        a GBM_model_python_1535419454879_92.zip
                                                    .description
                                                        span.last-modified
                                                            span.last-modified__title last modified
                                                            span.last-modified__content Mon Oct 01 2018 15:17:08 GMT+1000 (GMT+10:00)
                                                        span.file-size
                                                            span.file-size__title size
                                                            span.file-size__content 43.5kb
                                .item.item--file
                                    i.item__icon.far.fa-file
                                    .content 
                                        .header 
                                            a theme.config
                                        .description
                                            span.last-modified
                                                span.last-modified__title last modified
                                                span.last-modified__content Mon Oct 01 2018 15:17:08 GMT+1000 (GMT+10:00)
                                            span.file-size
                                                span.file-size__title size
                                                span.file-size__content 43.5kb
                    .item.item--folder 
                        i.item__icon.far.fa-folder
                        i.item__icon.far.fa-folder-open
                        i.item__icon.dropdown.icon
                        .content 
                            .header dist
                            .description Compiled CSS and JS files
                            .list 
                                .item.item--folder 
                                    i.item__icon.far.fa-folder
                                    i.item__icon.far.fa-folder-open
                                    i.item__icon.dropdown.icon
                                    .content 
                                        .header components
                                        .description Individual component CSS and JS
                    .item.item--file
                        i.item__icon.far.fa-file
                        .content 
                            .header 
                                a semantic.json
                            .description
                                span.last-modified
                                    span.last-modified__title last modified
                                    span.last-modified__content Mon Oct 01 2018 15:17:08 GMT+1000 (GMT+10:00)
                                span.file-size
                                    span.file-size__title size
                                    span.file-size__content 43.5kb
                    .item.item--file
                        i.item__icon.far.fa-file
                        .content 
                            .header 
                                a example_folder_2/old stuff/madrid_2001.csv
                            .description
                                span.last-modified
                                    span.last-modified__title last modified
                                    span.last-modified__content 2018-10-01 05:17:08
                                span.file-size
                                    span.file-size__title size
                                    span.file-size__content 43.5kb
                        
                    
                