extends _layout.pug

block link
    - var path = 'browse-files'
    
block main
    .main__header
        .main__title Explorer environment files
        .main__breadcrumb
            span Browse Files
            span /
            a(href="/") Choc-BERI
   
