extends _layout.pug

block link
    - var path = 'dashboard'
    
block main
    .main__header
        .main__title Welcome to Choc-BERI
        .main__breadcrumb
            span Dashboard
            span /
            a(href="/") Choc-BERI
    .__dashboard
        .__dashboard__main
            .splitter-left
                .__env-list
                    .__env-list__header
                        .__env-list__heading.__title__
                            | ACTIVE EXPLORATORY ENVIRONMENTS
                        .auto-refresh
                            i.auto-refresh__icon.fas.fa-toggle-off
                            i.auto-refresh__icon.fas.fa-toggle-on
                            span.auto-refresh__title Auto Refresh
                    .__env-list__content
                        .__env-item
                            .__env-item__header
                                .__stack-name
                                    i.__stack-name__icon.fas.fa-layer-group
                                    span.__stack-name__content d00-choc-beri-1
                                .__delete-stack.ui.button
                                    i.__delete-stack__icon.fas.fa-trash-alt
                                    span.__delete-stack__content Delete
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.far.fa-calendar-plus
                                    span.__env-item__title-content Created at
                                .__env-item__content
                                    | 2019-02-19T01:54:38.241Z
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.far.fa-envelope
                                    span.__env-item__title-content Owner
                                .__env-item__content
                                    | Abhishek.Das@team.telstra.com
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.fas.fa-battery-half
                                    span.__env-item__title-content Status
                                .__env-item__content
                                    | Built
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.fas.fa-external-link-alt
                                    span.__env-item__title-content ZEPPLIN
                                .__env-item__content.__link__
                                    | Link

                        .__env-item
                            .__env-item__header
                                .__stack-name
                                    i.__stack-name__icon.fas.fa-layer-group
                                    span.__stack-name__content d00-choc-beri-1
                                .__delete-stack.ui.button
                                    i.__delete-stack__icon.fas.fa-trash-alt
                                    span.__delete-stack__content Delete
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.far.fa-calendar-plus
                                    span.__env-item__title-content Created at
                                .__env-item__content
                                    | 2019-02-19T01:54:38.241Z
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.far.fa-envelope
                                    span.__env-item__title-content Owner
                                .__env-item__content
                                    | Abhishek.Das@team.telstra.com
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.fas.fa-battery-half
                                    span.__env-item__title-content Status
                                .__env-item__content
                                    | Built
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.fas.fa-external-link-alt
                                    span.__env-item__title-content ZEPPLIN
                                .__env-item__content.__link__
                                    | Link

                        .__env-item
                            .__env-item__header
                                .__stack-name
                                    i.__stack-name__icon.fas.fa-layer-group
                                    span.__stack-name__content d00-choc-beri-1
                                .__delete-stack.ui.button
                                    i.__delete-stack__icon.fas.fa-trash-alt
                                    span.__delete-stack__content Delete
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.far.fa-calendar-plus
                                    span.__env-item__title-content Created at
                                .__env-item__content
                                    | 2019-02-19T01:54:38.241Z
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.far.fa-envelope
                                    span.__env-item__title-content Owner
                                .__env-item__content
                                    | Abhishek.Das@team.telstra.com
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.fas.fa-battery-half
                                    span.__env-item__title-content Status
                                .__env-item__content
                                    | Built
                            .__env-item__row
                                .__env-item__title
                                    i.__env-item__title-icon.fas.fa-external-link-alt
                                    span.__env-item__title-content ZEPPLIN
                                .__env-item__content.__link__
                                    | Link


            .splitter
                .splitter__handle.fas.fa-grip-lines-vertical
            .splitter-right
                .__create-env
                    .__create-env__header.__title__
                        | CREATE NEW EXPLORATORY ENVIRONMENT
                    .__create-env__content
                        .__create-env__field
                            .ui.labeled.input.fluid
                                .ui.label
                                    i.__create-env__icon.fas.fa-layer-group
                                    | d00-choc-beri-

                                input(type="text" name="stackName" placeholder="Stack Name" required)

                        .__create-env__field
                            .ui.labeled.input.fluid
                                .ui.label
                                    i.__create-env__icon.fas.fa-envelope
                                    | Your Email
                                input(type="text" name="email" placeholder="you@team.telstra.com" required)

                        .__create-env__field.__create-env__field--button
                            #create-env-button.ui.button.green
                                i.__create-env__icon.fas.fa-plus
                                | Create





