//- feature-status-lab
//- TODO: Display a message when there is no features or feature stores are found
extends _layout.pug

block link
    - var path = 'feature-status-lab'

block main
    .main__header(data-zone="lab")
        .main__zone.main__zone--lab
            .zone-icon.i.fas.fa-flask
            .zone-name Laboratory
        .main__title Display feature's status by feature store's name
        .main__breadcrumb
            span Feature Status - 
                span.zone-name lab
            span /
            a(href="/") Choc-BERI
    .main__content.main__content--feature-status
        .feature-summary
            .strip
                .strip__title FEATURE STORES
                .strip__content
                    span.strip__feature-store-name.strip__feature-store-name--active all
                    span.strip__feature-store-name fixedservices
                    span.strip__feature-store-name mobile
                .strip__content_2
                    span.auto-refresh
                        i.auto-refresh__icon.fas.fa-toggle-off
                        i.auto-refresh__icon.fas.fa-toggle-on
                        span.auto-refresh__title Auto Refresh

            #fixedservices.feature-store
                .feature-store__header Feature store - fixedservices
                .feature-store__content
                    .feature-status.feature-status--validating
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-eye
                            span.feature-status__title VALIDATING
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job(data-feature='{"dependencies":{},"entity":"srvc_bk","featureStore":"fixedservice","scriptLanguage":"SQL","status":{"state":"built"},"createdAt":"2019-03-20T05:22:54.284700","dataSources":{"glue":{"idv":{"s_octf_nbn_srvc":{"name":"s_octf_nbn_srvc","database":"idv","service":"glue","entity":"entity"}}}},"jobID":"example1","features":{"example1":{"featureName":"example1","dataType":"TINYINT"}},"updatedAt":"2019-03-28T03:33:27.977Z","markedForPromotion":{"partOf":["15530593725245125"],"flag":true},"batch":"errored","scriptLocation":{"bucket":"d00-choc-beri-application","file":"scripts/lab/fixedservice/smoke_test_feature.sql"}}')
                                        .feature-status__job-id(style="color:#bb247f;") Click me
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)

                                .feature-status__list-item
                                    .feature-status__job(data-feature='{"createdAt":"2019-01-24T09:02:23.928107","dataSources":{},"dependencies":{"fixedservice":{"entity":"srvc_bk","features":{"recd_del_flg":{"factory":true,"featureName":"recd_del_flg"},"recd_del_flg_bin":{"factory":true,"featureName":"recd_del_flg_bin"}},"featureStore":"fixedservice"}},"entity":"srvc_bk","features":{"recd_del_decommission_please":{"dataType":"FLOAT","featureName":"recd_del_decommission_please"}},"featureStore":"fixedservice","jobID":"15482809327218018","predictive":{"modelInfo":{"algorithm":"Gradient Boosting Machine","modelType":"Binomial"},"predictive":"on","supervised":"true","targetFeature":{"feature":"recd_del_flg_bin","featureStore":"fixedservice","zone":"lab"},"timeDate":{}},"scriptLanguage":"MOJO","scriptLocation":{"bucket":"s-choc-beri-application","file":"scripts/lab/fixedservice/GBM_model_python_1540786708091_222.zip"},"status":{"message":"dry run failed on Exception: RequestId: 465779e2-a2b6-4bb2-89ba-15e88e6780ee Process exited before completing request","state":"failed"},"updatedAt":"2019-01-24T09:02:29.444361"}')
                                        .feature-status__job-id(style="color:#bb247f;")  Click me, too
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)

                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--mystery
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-magic
                            span.feature-status__title MYSTERY
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)


                    .feature-status.feature-status--validated
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-clipboard-check
                            span.feature-status__title VALIDATED
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)



                    .feature-status.feature-status--ready
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-candy-cane
                            span.feature-status__title READY
                            span.promote-button 
                                i.promote-button__icon.fas.fa-medal
                                span.promote-button__content Promote 
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--pending
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-circle-notch
                            span.feature-status__title PENDING
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                    .feature-status.feature-status--building
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-tools
                            span.feature-status__title BUILDING
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--built
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-check-circle
                            span.feature-status__title BUILT
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--marked-for-promotion
                        .feature-status__header
                            i.feature-status__icon-title.far.fa-arrow-alt-circle-up
                            span.feature-status__title MARKED FOR PROMOTION
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--marked-for-decommission
                        .feature-status__header
                            i.feature-status__icon-title.far.fa-arrow-alt-circle-down
                            span.feature-status__title MARKED FOR DECOMMISSION
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--decommissioning
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-eye-slash
                            span.feature-status__title DECOMMISSIONING
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--promoted
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-medal
                            span.feature-status__title PROMOTED
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--decommissioned
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-ban
                            span.feature-status__title DECOMMISSIONED
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--failed
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-times-circle
                            span.feature-status__title FAILED
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status.feature-status--uncategorised
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-ghost
                            span.feature-status__title UNKNOWN STATE
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

            #mobile.feature-store
                .feature-store__header Feature store - mobile
                .feature-store__content

                    .feature-status.feature-status--decommissioned
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-ban
                            span.feature-status__title DECOMMISSIONED
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)

                    .feature-status
                        .feature-status__header
                            i.feature-status__icon-title.fas.fa-bookmarks
                            span.feature-status__title UNKNOWN
                            i.feature-status__icon-expand.fas.fa-minus
                        .feature-status__content
                            .feature-status__list
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
                                .feature-status__list-item
                                    .feature-status__job
                                        .feature-status__job-id Job ID : 13247931740143
                                        span.feature-status__features
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content NetworkElement (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content SubscriberID (STRING)
                                            span.tag
                                                i.tag__icon.far.fa-star
                                                span.tag__content OctaneID (STRING)
        //- include _feature-panel.pug
