//- feature-status-lab
extends _layout.pug

block main
    .page
        .page__header
            .page__titleFeature Status - Laboratory
            .page__breadcrumb
                <span>Choc-BERI</span>
                <span>/</span>
                <a href="/">Feature Status - Lab</a>
        .page__content
            .feature-status
                .feature-status__header
                    span.feature-status__title FEATURE STORES
                .feature-status__content
                    span.feature-status__feature-store-name all
                    span.feature-status__feature-store-name
                        .feature-status__feature-store-name--active fixedservices
                    span.feature-status__feature-store-name mobile
