//- feature-status-lab
extends _layout.pug
block main
    .page
        .page__header
            .page__title Welcome to Choc-BERI
            .page__breadcrumb
                span Choc-BERI
                span /
                a(href="/") Dashboard
   
