//- feature-status-lab
extends _layout.pug

block main
    .page
        .page__header
            .page__titleWelcome to Choc-BERI
            .page__breadcrumb
                span Choc-BERI
                span /
                a(href="/") Dashboard
   
