//- feature-status-lab
extends _layout.pug

block link
    - var path = 'dashboard'
    
block main
    .page
        .page__header
            .page__title Welcome to Choc-BERI
            .page__breadcrumb
                span Dashboard
                span /
                a(href="/") Choc-BERI
   
