//- feature-status-lab
extends _layout.pug

block link
    - var path = 'dashboard'
    
block main
    .main__header
        .main__title Welcome to Choc-BERI
        .main__breadcrumb
            span Dashboard
            span /
            a(href="/") Choc-BERI
   
