extends _layout.pug

block link
    - var path = 'upload-files'
    
block main
    .main__header
        .main__title Upload files
        .main__breadcrumb
            span Upload Files
            span /
            a(href="/") Choc-BERI
   
