extends _layout.pug

block link
    - var path = 'upload-scripts-fac'

block main
    .main__header
        .main__zone.main__zone--fac
            .zone-icon.i.fas.fa-city
            .zone-name Factory
        .main__title Upload feature scripts
        .main__breadcrumb
            span Upload Scripts - Lab
            span /
            a(href="/") Choc-BERI
    .main__content.main__content--upload-scripts
        .__multi-cadence
            .__multi-cadence__content
                .strip.__multi-cadence__lang
                    .strip__title LANGUAGE
                    .strip__content
                        span.strip__item MOJO
                        span.strip__item PySpark
                        
                .strip.__multi-cadence__symbol
                    i.__multi-cadence__icon.fas.fa-plus

                .strip.__multi-cadence__cadence
                    .strip__title CADENCE
                    .strip__content
                    //     span.strip__item 5 mins
                    //     span.strip__item 1 hr
                    //     span.strip__item 24 hrs

                .strip.__multi-cadence__symbol
                    i.__multi-cadence__icon.fas.fa-equals

                .strip.__multi-cadence__block
                    .strip__title BLOCK
                    .strip__content
                        i.__multi-cadence__icon.fas.fa-question
                        // span.strip__item Multiple
                        // span.strip__item Single

        include _upload-scripts-mojo.pug
        include _upload-scripts-pyspark.pug

