extends _layout.pug

block link
    - var path = 'upload-files'
    
block main
    .main__header
        .main__zone.main__zone--exp
            .zone-icon.i.far.fa-map
            .zone-name Exploratory
        .main__title Upload files
        .main__breadcrumb
            span Upload Files
            span /
            a(href="/") Choc-BERI
   
