.editor {

    flex-grow: 1;
    min-width: 250px;
    padding-left: 30px;
    margin-right: 15px;


    &__title {

        color: #666666;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__bar {

        margin-top: 10px;
    }

    &__functions {

        display: flex;
        justify-content: flex-end;
        
    }

    &__icon {

        color: #999999;
        font-size: 14px;
        cursor: pointer;
        margin-left: 10px;
        width: 25px;
        height: 25px;
        background: #ededed;
        border-radius: 100px;
        padding-left: 6px;
        padding-top: 6px;

        &--decrease-font-size {

            font-size: 9px;
            padding-left: 9px;
            padding-top: 9px;

        }

        &:hover {

            color: white;
            background-color: #d83e9b;
        };
    }

    &__main {

        width: 100%;
        height: 98%;
        border-radius: 2px;
    }

}