.auto-refresh {

    display: flex;
    cursor: pointer;
    user-select: none;
    color: #aaaaaa;

    .fa-toggle-on {

        display: none;
    }

    .fa-toggle-off {

        display: block;
    }

    &--enable {

         color: $link-color;

        .fa-toggle-on {

            display: block;
        }

        .fa-toggle-off {

            display: none;
        }
    }

    &__icon {
        
        font-size: 18px;
        margin-right: 10px;
    }

    &__title {

        font-weight: 500;
    }

    &:hover {

        color: #de4aa3;
        
    }
}