.__batch {

    display: flex;

    &__history {

        flex-basis: 250px;
        min-width: 250px;
        margin-right: 40px;
    }

    &__row {

        margin-bottom: 20px;
    }

        &__title {

            font-size: 13px;
            color: #6d6d6d;
            font-weight: 500;
            margin-bottom: 5px;

        }

        &__content {

            font-size: 13px;
            color: #333333;
        }

        &__heading {

             color: #bb5a38;
             font-weight: 500;
             margin-bottom: 10px;
        }

    &__content {


    }

        &__status {

            padding: 3px 6px;
            background-color: #999999;
            color: white;
            border-radius: 2px;
            font-size: 13px;
            font-weight: 500;
            display: inline-block;

            &--built {

                background-color: #39a739;
            }
        }

    &__drawing {

        position: relative;
        flex-basis: 800px;
    }

        &__filter {

            position: absolute;
            top: 0;
            left: 0;

            .fas {

                color: $link-color;
                width: 20px;
            }

            // Override Semantic UI
            .ui.dropdown >.text {

                color: $link-color;
                font-weight: 500;

                &:hover {

                    text-decoration: underline;
                }
            }

            .ui.floating.dropdown .menu {

                border: none;
                background-color: rgba( 255, 255, 255, 0.95 );
                box-shadow: 5px 5px 5px 0px rgba( 0, 0, 0, 0.2 ) !important;
                -webkit-box-shadow:  5px 5px 5px 0px rgba( 0, 0, 0, 0.2 ) !important;
                border-radius: 10px !important;

                .scrolling.menu {

                    background-color: transparent;
                    border-top: none;
                    box-shadow: none !important;
                    -webkit-box-shadow:  none !important;
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                    border-bottom-left-radius: 10px !important;
                    border-bottom-right-radius: 10px !important;
                    .item {

                        color: #292929;
                        font-size: 13px;
                    }
                }
            }
        }

            &__daily-table {

                .ui.table {

                    font-size: 13px;
                    border: none;

                    thead th  {

                        background-color: #e8e8e8;
                        border-bottom: none;
                        color: #333333;
                    }

                    tr td {

                        border-top: none;
                        background-color: #f5f5f5;
                        color: #333333;
                    }
                }
            }

        &__operations {

            position: absolute;
            top: 0;
            right: 0;

            .__operation {

                color: $link-color;
                cursor: pointer;
                font-size: 14px;
                margin-bottom: 2px;

                &__icon {

                    width: 24px;
                }

                &__name {

                    cursor: pointer;
                    font-weight: 500;

                    &:hover {

                        text-decoration: underline;
                    };
                }
            }

        }

    &__details {

        flex-basis: 300px;
        flex-grow: 1;
        margin-left: 30px;
    }

        &__header {

            display: flex;
        }

            &__heading {

                flex-grow: 1;
            }
}

.__execution {

    &__item {

        display: flex;
        margin-bottom: 10px;
        align-items: flex-start;
    }

        &__title {

            padding: 3px 6px;
            background-color: #eaeaea;
            border-radius: 2px;
            display: flex;
            font-size: 12px;
            font-weight: 500;
            min-width: 120px;
            max-width: 120px;
            margin-right: 10px;
        }

            &__icon {

                font-size: 12px;
                color: #999999;
                margin-top: 1px;
                width: 20px;
            }

            &__name {

                font-size: 12px;
                color: #333333;
                font-weight: 500;
            }

        &__description {

            font-size: 13px;
        }
}

.__feature {

    display: flex;

    &__icon {

        font-size: 12px;
        margin-right: 5px;
        margin-top: 2px;
    }

    &__name {

        word-break: break-all;
    }
}

.__feature-store {

    display: flex;
    margin-bottom: 4px;

    &__icon {

        font-size: 12px;
        margin-right: 5px;
        margin-top: 2px;
        color: #999999;
    }

    &__name {

        word-break: break-all;
        font-size: 13px;
        color: #4b4b4b;
        font-weight: 500;
    }
}

.__job {

    // Variables
    $background-color: rgba( 255, 255, 255, 0.95 );
    $arrow-size: 10px;

    min-width: 200px;
    min-height: 200px;
    max-width: 220px;
    background-color:  $background-color;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px 0px rgba( 0, 0, 0, 0.2 );
    font-size: 13px;
    color: #292929;

    &:before {

        display: block;
        position: absolute;
        border-top: $arrow-size solid transparent;
        border-right: $arrow-size solid  $background-color;
        border-bottom: $arrow-size solid transparent;
        content: " ";
        top: 142px;
        left: -$arrow-size;
    }

    &__row {

        margin-bottom: 10px;
    }

    .__detail {

        &__title {

            color: #ef6b3d;
            margin-bottom: 3px;
            font-weight: 500;
        }

        &__content {


        }
    }
}

.__g {

    text {

        font-size: 0.6rem;
    }


    &__circle {
        
        &--active {

            opacity: 0.8;
        }
    }

    &__stage {

        font-weight: 500;
    }

    &--base {

        .__g__circle {

            fill: #f5f5f5;
        }
    }

    &--stage {

        .__g__circle {

            fill: #e2e2e2;
        }
    }

    &--stage-0 {

        .__g__circle {
            
            fill: #ffdede;
        }

        .__g__stage {

            fill: #c34c4c;
        }
    }

    &--stage-1 {

        .__g__circle {
            
            fill: #fbeaca;
        }

        .__g__stage {

            fill: #a08916;
        }
    }

    &--stage-2 {

        .__g__circle {
            
            fill: #e8f1de;
        }

        .__g__stage {

            fill: #568e18;
        }
    }

    &--glooping {

        .__g__circle {

            fill: white;
        }

        .__g__status {

            fill: #333333;
        }

        .__g__feature-store {

            fill: #333333;
        }

        .__g__runtime {

            fill: #333333;
            font-style: italic;
            font-weight: bold;
        }
    }

    &--job {

        .__g__circle {
            
            fill: #929292;
        }

        .__g__job-id {

            fill: rgba(255,255,255,0.7);
        }

        .__g__status {

            fill: rgba(255,255,255,0.7);
        }

        .__g__runtime {

            fill: white;
            font-style: italic;
            font-weight: bold;
        }
    }

    @mixin coloring( $color ) {

        .__g__circle {
            
            fill: $color;
        }

        &.__g--glooping {

            .__g__circle {
            
                fill: white;
            }

            .__g__status {

                fill: $color;
            }
        }

    }

    &--built {

        $color: #39a739;
        @include coloring($color);

    }

    &--building {

        $color: #6bca00;
        @include coloring($color);
    }

    &--errored {

        $color: #ff3224;
        @include coloring($color);
    }

    &--failed {

        $color: #da1204;
        @include coloring($color);
    }

    &--waiting {

        $color: #349ccc;
        @include coloring($color);
    }

    &--aborted {

        $color: #f7407b;
        @include coloring($color);
    }

    &--promoted {

        $color: #ff9800;
        @include coloring($color);
    }

    &--promoting {

        $color: #ffc822;
        @include coloring($color);
    }

    &--decommissioning {

        $color: #6374ce;
        @include coloring($color);
    }

    &--decommissioned {
        
        $color: #41509e;
        @include coloring($color);
    }

    &--paused {

        $color: #ea67bc;
        @include coloring($color);
    }
}

