/* Include Semantic UI content */

.main__content--browse-files {

    overflow-y: auto;

    .file-browser {

        &__title {

            color: #aaaaaa;
            margin-bottom: 20px;
            font-weight: 500;
        }
    }

    .ui {

        .item,
        .list .item {

            display: flex;
            margin-bottom: 8px;

            .header {
                margin-bottom: 2px;
            }

            .description {

                display: flex;
                font-size: 12px;
                color: #666666;
                font-style: italic;

                .last-modified {

                    width: 130px;
                    margin-right: 20px;

                    &__title {

                        font-weight: 500;
                        color: #999999;
                        margin-right: 8px;
                    }
                }

                .file-size {

                    &__title {

                        font-weight: 500;
                        color: #999999;
                        margin-right: 8px;
                    }
                }
            }

            &__icon {

                flex-basis: 32px;
                font-size: 20px;
                color: #737373;
                cursor: pointer;

                &.fa-folder-open {

                    display: block;
                }

                &.fa-folder {

                    display: none;
                }

                &.dropdown {

                    font-size: 12px;
                    flex-basis: 10px;
                    color: #cccccc;

                    &:hover {

                        color: #666666;
                    }

                }

            }

            &--folder {

                .header {

                    color: #0f76c8;
                    cursor: pointer;
                    font-family: "Proxima Nova";
                    font-weight: 500;
                }

                .description {

                    display: none;
                }

                &--collapse {

                    .fa-folder-open {

                        display: none;
                    }

                    .fa-folder {

                        display: block;
                    }

                    .item__icon.dropdown {

                        transform: none;
                        transform: rotate(-90deg);
                        margin-left: -5px;

                        & + .content {

                            margin-left: 5px;
                        }
                    }
                }
            }

            &--file {

                .header a {

                    color: $main-color;
                    cursor: pointer;
                    font-family: "Proxima Nova";
                    font-weight: 500;

                    &:hover {

                        text-decoration: underline;
                    }
                }

                .description {

                    display: block;
                }
            }
        }
    }
}