/* Feature status styles for both Lab and Fac */

@import "./feature-panel";

.main {

    &__zone {

        font-size: 13px;
        border-radius: 4px;
        padding: 4px 12px;
        display: flex;
        align-items: center;
        margin-right: 25px;
        color: white;

        .zone-icon {

            margin-right: 10px;
        }

        &--lab {

            background-color: #ff2b2b;

        }

        &--fac {

            background-color: #42a246;

        }

        &--exp {

            background-color: #0db5ca;
        }
    }

    .main__content--feature-status {

        display: flex;
        padding: 0;

        .strip {


            &__feature-store-name {

                display: inline-block;
                border: 1px solid #cccccc;
                border-radius: 100px;
                padding: 4px 8px;
                margin: 5px;
                cursor: pointer;
                font-size: 13px;

                &--active {

                    background-color: $main-color;
                    color: white;
                    border-color: $main-color;
                }
            }

            &__content {

                flex-grow: 1;
            }

            &__content_2 {

                .auto-refresh {

                    display: flex;
                    cursor: pointer;
                    user-select: none;

                    &__icon {
                        
                        font-size: 18px;
                        margin-right: 10px;
                        color: #0bb8c0;

                        &.fa-toggle-off {

                            display: none;
                        }
                    }

                    &__title {

                        color: #aaaaaa;
                    }

                    &:hover {

                        .auto-refresh__title {

                            color: #666666;
                        }
                        
                    }
                }
            }
        }
    }

    .feature-store {

        margin-bottom: 10px;

        &__header {

            font-size: 16px;
            padding-bottom: 10px;
            color: $main-color;
            font-weight: bold;
        }

        &__content {

            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin: 0 -10px;
        }
    }

    .feature-status {

        flex-grow: 1;
        flex-basis: 220px;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        background-color: white;
        margin: 10px;

        &__header {

            font-weight: bold;
            color: #999999;
            padding: 12px 20px;
            display: flex;
            user-select: none;

            &:hover {

                cursor: pointer;
            }
        }

        &__title {

            flex-basis: 100%;
            margin-left: 20px;
            line-height: 1.25em;
        }

        &__feature-name {

            cursor: pointer;
            color: #333333;

            &:hover {

                color: black;
            }
        }

        &__icon-title {

            font-size: 16px;
            flex-basis: 20px;
        }

        &__icon-expand {

            font-size: 10px;
            margin-top: 4px;
            flex-basis: 20px;
            text-align: center;
        }

        &__content {


        }

        &__list-item {

            margin: 0 20px;
            padding: 10px 0;
            border-top: 1px solid #ededed;
        }

        &--promoted {

            $border-color: #ff9800;

            border: 1px solid $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px solid #ffe2b6;
                }
            }
        }

        &--marked-for-promotion {

            $border-color: #ff9800;

            border: 1px dashed $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px dashed #ffe2b6;
                }
            }
        }

        &--built {

            $border-color: #42a246;

            border: 1px solid $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px solid #a7deaa;
                }
            }
        }

        &--building {

            $border-color: #42a246;

            border-top: 1px solid $border-color;
            border-bottom: 1px dashed $border-color;
            border-left: 1px dashed $border-color;
            border-right: 1px dashed $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px dashed #a7deaa;
                }
            }
        }

        &--failed {

            $border-color: #de1a0b;

            border: 1px solid $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px solid #ffb9b3;

                    &:first-child {

                        border-top: 1px solid #ffb9b3;
                    }
                }
            }
        }

        &--decommissioned {

            $border-color: #444444;

            border: 1px solid $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px solid #dddddd;
                }
            }
        }

        &--decommissioning {

            $border-color: #444444;

            border-top: 1px solid $border-color;
            border-bottom: 1px dashed $border-color;
            border-left: 1px dashed $border-color;
            border-right: 1px dashed $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px dashed #dddddd;
                }
            }
        }


        &--marked-for-decommission {

            $border-color: #444444;

            border: 1px dashed $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px dashed #dddddd;
                }
            }
        }

        &--validated {

            $border-color: #18bbd0;

            border: 1px solid $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px solid #c0eef4;
                }
            }
        }

        &--validating {

            $border-color: #18bbd0;

            border-top: 1px solid $border-color;
            border-bottom: 1px dashed $border-color;
            border-left: 1px dashed $border-color;
            border-right: 1px dashed $border-color;

            .feature-status {

                &__header {

                    color: $border-color;
                }

                &__list-item {

                    border-top: 1px dashed #c0eef4;
                }
            }
        }
    }
}