/* Feature status styles for both Lab and Fac */

@import "./feature-panel";

.main {

    &__zone {

        font-size: 13px;
        border-radius: 4px;
        padding: 4px 12px;
        display: flex;
        align-items: center;
        margin-right: 25px;

        .zone-icon {

            margin-right: 10px;
        }

        &--lab {

            background-color: #ff2b2b;
            color: white;
        }

        &--fac {

            background-color: #42a246;
            color: white;
        }
    }

    .main__content--feature-status {

        display: flex;
        height: calc( 100vh - 121px );
        padding: 0;

        .strip__feature-store-name {

            display: inline-block;
            border: 1px solid #cccccc;
            border-radius: 100px;
            padding: 4px 8px;
            margin: 5px;
            cursor: pointer;
            font-size: 13px;

            &--active {

                background-color: $main-color;
                color: white;
                border-color: $main-color;
            }
        }
    }

    .feature-store {

        margin-bottom: 10px;

        &__header {

            font-size: 18px;
            padding-bottom: 10px;
            color: $main-color;
            font-weight: bold;
        }

        &__content {

            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin: 0 -10px;
        }
    }

    .feature-status {

        flex-grow: 1;
        flex-basis: 220px;
        border: 1px solid #dddddd;
        border-radius: 4px;
        background-color: white;
        margin: 10px;

        &__header {

            font-weight: bold;
            color: #999999;
            padding: 12px 20px;
            display: flex;

            &:hover {

                cursor: pointer;
            }
        }

        &__title {

            flex-basis: 100%;
            margin-left: 20px;
        }

        &__feature-name {

            cursor: pointer;
            color: #666666;

            &:hover {

                color: black;
            }
        }

        &__icon-title {

            font-size: 16px;
            margin-top: 2px;
            flex-basis: 20px;
        }

        &__icon-expand {

            font-size: 10px;
            margin-top: 4px;
            flex-basis: 20px;
            text-align: center;
        }

        &__content {


        }

        &__list-item {

            padding: 10px 20px;
            border-top: 1px solid #dddddd;
        }

        &--promoted {

            $promoted-color: #ff9800;

            border: 1px solid $promoted-color;

            .feature-status {

                &__header {

                    color: $promoted-color;
                }

                &__list-item {

                    border-top: 1px solid #ffe2b6;
                }
            }
        }


        &--built {

            $promoted-color: #42a246;

            border: 1px solid $promoted-color;

            .feature-status {

                &__header {

                    color: $promoted-color;
                }

                &__list-item {

                    border-top: 1px solid #a7deaa;
                }
            }
        }

        &--failed {

            $promoted-color: #de1a0b;

            border: 1px solid $promoted-color;

            .feature-status {

                &__header {

                    color: $promoted-color;
                }

                &__list-item {

                    border-top: 1px solid #ffb9b3;
                }
            }
        }


        &--decommissioned {

            $promoted-color: #444444;

            border: 1px solid $promoted-color;

            .feature-status {

                &__header {

                    color: $promoted-color;
                }

                &__list-item {

                    border-top: 1px solid #dddddd;
                }
            }
        }
    }
}