/* Feature status styles for both Lab and Fac */

@import "./feature-panel";

.main {

    .main__content--feature-status {

        display: flex;
        padding: 0;

        .strip {

            padding: 0 30px;

            &__feature-store-name {

                display: inline-block;
                border: 1px solid #cccccc;
                border-radius: 100px;
                padding: 4px 8px;
                margin: 5px;
                cursor: pointer;
                font-size: 13px;

                &--active {

                    background-color: $main-color;
                    color: white;
                    border-color: $main-color;
                }
            }

            &__content {

                flex-grow: 1;
            }

            &__content_2 {

                .auto-refresh {

                    display: flex;
                    cursor: pointer;
                    user-select: none;
                    color: #aaaaaa;

                    .fa-toggle-on {

                        display: none;
                    }

                    .fa-toggle-off {

                        display: block;
                    }

                    &--enable {

                         color: #c14d93;

                        .fa-toggle-on {

                            display: block;
                        }

                        .fa-toggle-off {

                            display: none;
                        }
                    }

                    &__icon {
                        
                        font-size: 18px;
                        margin-right: 10px;
                    }

                    &:hover {

                        color: #c14d93;
                        
                    }
                }
            }
        }
    }

    .feature-store {

        margin-bottom: 30px;

        &__header {

            font-size: 16px;
            padding-bottom: 10px;
            color: $main-color;
            font-weight: 500;
            padding: 0 30px;
        }

        &__content {

            padding: 10px 25px;
        }

        .row {

            display: flex;
            flex-wrap: wrap;
        }
    }

    .feature-status {

        flex-basis: 250px;
        border: 1px solid #eaeaea;
        border-radius: 2px;
        margin: 5px;
        flex-grow: 1;
        background: white;

        .promote-button {

            font-size: 12px;
            display: flex;
            margin-right: 20px;
            color: #bb247f;

            &__icon {

                margin-top: 2px;
                margin-right: 6px;
            }

            &__content {

                &:hover {

                    text-decoration: underline;
                }
            }
        }


        &__header {

            font-weight: 500;
            color: #666666;
            padding: 12px 20px;
            display: flex;
            user-select: none;

            &:hover {

                cursor: pointer;
            }
        }

        &__title {

            flex-basis: 100%;
            margin-left: 20px;
        }

        &__job {

            cursor: pointer;
            color: #4b4b4b;
            word-break: break-all;

            &:hover {

                background-color: #f5f5f5;
            }

            .tag {

                margin-right: 20px;
                background: transparent;
                padding: 0;
                color: #666666;

                &__content {

                    word-break: break-all;
                }
            }
        }

        &__job-id {

            margin-bottom: 5px;
            color: #272727;
            font-size: 12px;
            font-weight: 500;
        }

        &__features {

            display: flex;
        }

        &__icon-title {

            font-size: 16px;
            flex-basis: 20px;
        }

        &__icon-expand {

            font-size: 10px;
            margin-top: 4px;
            flex-basis: 20px;
            text-align: center;
        }

        &__content {


        }

        &__list-item {

            margin: 0 20px;
            padding: 10px 0;
            border-top: 1px solid #ededed;
        }

        &--built {

            $color: #429946;
            border-color: #a7d176;

            .feature-status {

                &__icon-title {

                    color: $color;
                }

                &__title {

                    color: $color;
                }
            }
        }

        &--failed {

            $color: #ed362a;
            
            .feature-status {

                &__icon-title {

                    color: $color;
                }

                &__title {

                    color: $color;
                }
            }
        }
    }
}