
.strip {

    margin-bottom: 20px;

    &__header {

        color: #aaaaaa;
        font-weight: bold;
        padding: 4px 0;
    }

    &__content {

        padding: 8px 0;
    }

    &__feature-store-name {

        display: inline-block;
        border: 1px solid #cccccc;
        border-radius: 100px;
        padding: 4px 8px;
        margin-right: 8px;
        cursor: pointer;
        font-size: 13px;

        &--active {

            background-color: $main-color;
            color: white;
            border-color: $main-color;
        }
    }
}

.feature-store {

    margin-bottom: 10px;

    &__header {

        font-size: 18px;
        padding-bottom: 20px;
        color: $main-color;
        font-weight: bold;
    }

    &__content {

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

}

.feature-status {

    flex-grow: 1;
    flex-basis: 220px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;


    &__header {

        font-weight: bold;
        color: #999999;
        padding: 15px 20px;
        display: flex;
    }

    &__title {

        flex-basis: 100%;
        margin-left: 20px;
    }

    &__icon-title {

        font-size: 16px;
        margin-top: 2px;
        flex-basis: 20px;
    }

    &__icon-expand {

        font-size: 10px;
        margin-top: 4px;
        flex-basis: 20px;
        text-align: center;
        cursor: pointer;

        &:hover {

            color: #333333;
        }
    }

    &__content {


    }

    &__list-item {

        padding: 10px 20px;
        border-top: 1px solid #dddddd;
    }

    &--promoted {

        $promoted-color: #ff9800;

        border: 1px solid $promoted-color;

        .feature-status {

            &__header {

                color: white;
                background-color: $promoted-color;
            }

            &__list-item {

                border-top: 1px solid $promoted-color;
            }

            &__icon-expand {

                &:hover {

                    color: white;
                }
            }
        }
    }

    &--built {

        $promoted-color: #42a246;

        border: 1px solid $promoted-color;

        .feature-status {

            &__header {

                color: white;
                background-color: $promoted-color;
            }

            &__list-item {

                border-top: 1px solid $promoted-color;
            }

            &__icon-expand {

                &:hover {

                    color: white;
                }
            }
        }
    }

    &--failed {

        $promoted-color: #de1a0b;

        border: 1px solid $promoted-color;

        .feature-status {

            &__header {

                color: white;
                background-color: $promoted-color;
            }

            &__list-item {

                border-top: 1px solid $promoted-color;
            }

            &__icon-expand {

                &:hover {

                    color: white;
                }
            }
        }
    }
}