.login {

    $border-radius: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fbfbfb;

    &__container {

        min-width: 318px;
        border-radius: $border-radius;
        position: relative;
    }

    &__error {

        background-color: #e11057;
        padding: 6px 15px;
        color: #ffffff;
        border-radius: 100px;
        font-size: 13px;
        font-weight: bold;
        display: inline-block;

        &__icon {

            margin-right: 10px;
        }
    }

    &__copyright {

        margin-top: 30px;
        font-size: 12px;
        font-weight: bold;
        color: #cccccc;
    }

    &__row {

        margin-bottom: 10px;
    }

    &__logo {

        font-family: "Pacifico", cursive;
        color: #fbfbfb;
        font-size: 52px;
        margin-bottom: 8px;
        user-select: none;
    }

    &__header {

        height: 102px;
        background-color: #bb247f;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-radius: $border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 5px;
    }

    &__content {

        padding: 50px 38px 105px 38px;
        background-color: #128cc3;
        border-radius: $border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &__decor {

        background: url( "./choc400.png" );
        background-size: 125%;
        background-repeat: no-repeat;
        background-position: center;
        height: 108px;
        position: absolute;
        border-radius: $border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.85;
    }

    &__button-container {

        margin-top: 30px;
    }

    .ui.button {

        background-color: #1b5c8f;
        color: white;
        border-radius: 100px;

        &:hover,
        &:active,
        &:focus {

            color: white;
            background-color: #1a4d7e;
        };
    }

    .ui.checkbox label {

        font-weight: normal;
        color: #f5f5f5;
        cursor: pointer;
        user-select: none;
    }

    .ui.labeled.input > .label {

        border: none;
        background-color: white;
        color: #cccccc;
        border-radius: 100px;
    }

    .ui.form input[type=text] {

        border: none;
        border-radius: 100px;
    }

    .ui.form input[type=password] {

        border: none;
        border-radius: 100px;
    }

    .ui.checkbox label:before {

        border: none;
        border-radius: 100px;
    }

    .ui.checkbox input:checked~.box:after, 
    .ui.checkbox input:checked~label:after {

        color: $main-color;
    }

    .ui.checkbox input:focus~label {

        color: white;
    }
}