
.logo {

    position: relative;
    grid-column: 1;
    grid-row: 1;
    background-color: #bb247f;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {

        font-family: "Willy Wonka";
        font-size: 35px;
        cursor: pointer;
        color: rgba( 255, 255, 255, 0.95 );
        margin-top: 5px;

        &:hover {

            color: white;
        }
    }

    &__label {

        position: absolute;
        background-color: white;
        font-weight: bold;
        padding: 0 2px;
        color: $main-color;
        border-radius: 2px;
        font-size: 10px;
        top: 8px;
        left: 185px;
        transform: skewY(-3deg);
    }
}