@import "./variables";
@import "./globals";
@import "./scrollbar";
@import "./slider";
@import "./strip";
@import "./splitter";
@import "./validate-button";
@import "./auto-refresh";
@import "./ace-editor";
@import "./tag";
@import "./logo";
@import "./code-feedback";
@import "./override-semantic";
@import "./modals";

@import "./batch-management";
@import "./side-bar";
@import "./browse-files";
@import "./upload-files";
@import "./feature-status";
@import "./create-feature-store";
@import "./upload-scripts";
@import "./upload-scripts-mojo";
@import "./login";
@import "./stacks";
@import "./predictive-feature-metrics";

// Uncomment following import when copied to choc_beri_apps_ui
// @import "./OVERRIDES";

@font-face {
    
    font-family: "Willy Wonka";
    src: url( "./fonts/Willy Wonka.ttf" ) format( "truetype" ); 
}

@font-face {

    font-family: "Proxima Nova";
    src: url( "./fonts/Proxima Nova.otf" ) format( "opentype" );
}

@font-face {
    
    font-family: "Proxima Nova";
    font-weight: 500;
    src: url( "./fonts/Proxima Nova Medium.otf" ) format( "opentype" );
}

@font-face {
    
    font-family: "Proxima Nova";
    font-weight: 600;
    src: url( "./fonts/Proxima Nova Semibold.otf" ) format( "opentype" );
}

@font-face {
    
    font-family: "Proxima Nova";
    font-style: italic;
    src: local("");
}

html, body {
    
    margin: 0;
    padding: 0;
    // Includes styles in the modals created by Semantic UI
    line-height: 1.25;
    font-family: $font-family;
}

.__body--loading {

    cursor: progress;
}

.container {

    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: $top-bar-height auto;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    color: #333333;

    @media screen and ( max-width: 1024px ) {

        @include mobile-view;
    }

    &--mobile {

        @include mobile-view;
    }

    &--split {

        user-select: none;
    }
}

.top-bar {

    grid-column: 2;
    grid-row: 1;
    background-color: $main-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

    &__icon {

        color: rgba(255, 255, 255, 0.7);
        font-size: 20px;
        width: 28px;
        text-align: center;
        margin-left: 20px;

        &:hover {

            color: rgba(255, 255, 255, 0.9);
        }
    }

    .user {

        &__name {

            color: white;
            font-size: 16px;
            margin-right: 20px;
        }

        &__avatar {

            width: 32px;
            height: 32px;
            background-color: white;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {

                font-size: 30px;
            }
        }
    }

    .logout {

        .top-bar__icon {

            font-size: 16px;
        }

        .fa-door-closed {

            display: block;
        }

        .fa-door-open {

            display: none;
        }

        &:hover {

            .fa-door-closed {

                display: none;
            }

            .fa-door-open {

                display: block;
            }
        }
    }    
}

.main {

    grid-column: 2;
    grid-row: 2;
    overflow: hidden;

    &__zone {

        font-size: 14px;
        border-radius: 4px;
        padding: 3px 6px;
        display: flex;
        align-items: center;
        margin-right: 25px;
        color: white;
        transform: skewY(-2deg);

        .zone-icon {

            margin-right: 8px;
            font-size: 14px;
        }

        .zone-name {

            // font-family: "Willy Wonka";
        }

        &--lab {

            background-color: #ff2b2b;

        }

        &--fac {

            background-color: #42a246;

        }

        &--exp {

            background-color: #0db5ca;
        }
    }

    &__header {

        display: flex;
        height: $main-header-height;
        background-color: white;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 1px solid #dddddd;
        box-sizing: border-box;
    }

    &__title {

        font-size: 16px;
        flex-grow: 1;
    }

    &__breadcrumb {

        font-size: 14px;

        span {

            margin-left: 8px;
        }

        a {
            color: $main-color;
            text-decoration: none;
            margin-left: 8px;

            &:hover {

                text-decoration: underline;
            }
        }

        .zone-name {

            text-transform: capitalize;
        }

    }

    &__content {

        height: calc(100% - #{$main-header-height});
        padding: 25px 30px;
        overflow: auto;
    }
}

::-webkit-file-upload-button {

    color: transparent;
    background-color: transparent;
    border: none;
    width: 0;
}

