/* Also contains content overriding Semantic Modal */

.ui.modal {

    border-radius: 2px;

    .actions >.button {

        background-color: #eeeeee;
    }

    &.basic {

        .actions >.button {

            background-color: transparent;
            border: 1px solid #eeeeee;
            color: white;
        }
    }

    &.modal.basic {

        text-align: center;

        .header {

            font-size: 20px;
            padding: 40px;

            i {
                display: block;
                font-size: 120px;
                margin-bottom: 20px;
            }

            em {

                padding: 0px 10px;
                font-size: 120%;
            }
        }

        .content {

            padding: 0;

        }

        &.modal--create-job-success {

            .header {

                i {

                    color: #48a748;
                }
            }
        }

        &.modal--create-job-wait {

            .header {

                i {

                    color: #e0b022;
                }
            }
        }
    }

    &.modal--validate-success {

        pre { 

            background-color: #f5f5f5;
            padding: 20px;
            white-space: pre-wrap;
        }

        .header {

            color: white;
            background-color: $main-color;
            border-bottom: none;
            padding: 18px 25px;
            text-transform: uppercase;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;

            i {

                margin-right: 18px;
                font-size: 25px;
            }
        }

        .content {

            padding: 25px 25px 10px 25px;

            .row {

                margin-bottom: 10px;

                &__content {

                    margin-left: 15px;
                }
            }

            .tag {

                display: inline-block;
                background-color: #0e8bee;
                width: 120px;
                color: white
            }
        }

        .actions {

            border-top: none;
            background-color: transparent;
            padding: 0 25px 25px 25px;
        }

        .create-job__button {

            background-color: #87c63e;
            color: white;
        }

        .job-id__content {

            margin-left: 10px;
        }
    }
}