/* Also contains content overriding Semantic Modal */

.ui.modal {

    border-radius: 2px;

    & >.icon:first-child+*, 
    & >:first-child:not(.icon) {

        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .step {

        i {

            font-size:  32px;
            margin-top: 12px;
        }

        .content {

            .title {
  
                background-color: transparent;
                color: rgba(0,0,0,.87);
            }
        }

        &.active {

            i {

                color: #4183c4;
            }

            .title {

                color: #4183c4;
                background-color: transparent;

            }
        }

        &.disabled {

            .content {

                .title {

                    background-color: transparent;
                    color: #aaaaaa;
                } 
            }
        }
    }


    .header {

        color: white;            
        background-color: #bb247f;
        border-bottom: none;
        padding: 18px 25px;
        text-transform: uppercase;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

        i {
            
            margin-right: 18px;
            font-size: 25px;
        }
    }

    .content {

        padding: 25px 25px 10px 25px;

        .row {

            margin-bottom: 10px;

            &__title {

                margin-bottom: 10px;
            }

            &__content {

                margin-bottom: 10px;
                
            }
        }

        .text {

            background-color: #f5f5f5;
            padding: 20px;
        }

        .title {

            display: inline-block;
            background-color: #0e8bee;
            min-width: 120px;
            color: white;
            margin-right: 10px;
            padding: 5px 10px;
            border-radius: 2px;
            margin-bottom: 5px;

            &__icon {

                width: 20px;
                margin-right: 10px;
                text-align: center;
            }
        }
    }

    & >.actions {

        border-top: none;
        padding-left: 25px;
        padding-right: 25px;

        & > .button {

            margin-right: 0;
            font-family: "Proxima Nova";
        }
    }

    &.basic {

        .actions >.button {

            background-color: transparent;
            border: 1px solid #eeeeee;
            color: white;
            font-family: "Proxima Nova";
        }
    }

    &.modal.basic {

        text-align: center;

        .header {

            font-size: 20px;
            padding: 10px;

            i {
                display: block;
                font-size: 120px;
                margin-bottom: 20px;
                margin-left: 0;
                margin-right: 0;
                text-align: center;
            }

            em {

                padding: 0px 10px;
                font-size: 120%;
            }

            .heading {

                color: rgba( 255, 255, 255, 0.95 );
            }
        }

        .content {

            padding: 20px;
            font-size: 16px;
            color: rgba( 255, 255, 255, 0.9 );

        }

        &.modal--success {

            .header {

                i {

                    color: #38a538;
                }
            }
        }

        &.modal--create-job-success {

            .header {

                i {

                    color: #38a538;
                }
            }

            .content {

                font-size: 14px;
                font-style: italic;
                opacity: 0.3;
                line-height: 1;
            }
        }

        &.modal--create-job-wait {

            .header {

                i {

                    color: #e0b022;
                }
            }
        }

        &.modal--error {

            .header {

                i {

                    color: #be342a;
                }
            }
        }
    }

    &.modal--validate-success {

        pre { 

            background-color: #f5f5f5;
            margin: 0;
            padding: 10px;
            white-space: pre-wrap;
        }

        .actions {

            border-top: none;
            background-color: transparent;
            padding: 0 25px 25px 25px;
        }

        .job-id__content {

            margin-left: 10px;
        }
    }
}