/**
 * Contains overrides of Sematic UI comonents
 *
 * NOTE: Check modal component at modals.scss
 */

.ui {

    &.button {

        border-radius: 2px;

        i {
            margin-right: 8px;
        }
    }

    &.labeled.input > .label {

        border: 1px solid #d6d6d6;
        color: #999999;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    &.checkbox label {

        font-weight: bold;
        color: #666666;

        &:before {

            background-color: #fbfbfb;
            border-radius: 2px;
        }

    }
    
    &.form .field {

        & > label {

            color: #666666;
            margin-bottom: 6px;
        }

        & >.selection.dropdown {

            border-radius: 2px;

            &.active {

                background-color: white;
            }

            .menu {

                border-radius: 2px;
            }
        }
    }

    &.input {

        input {

            font-size: 13px;
            border-radius: 2px;
            
            &:focus {

                border-radius: 2px;
            }
        }

        textarea {

            background-color: white;
            border-radius: 2px;

            &:focus {

                border-radius: 2px;
            }
        }
    }

    .multiple.dropdown > .label {

        font-size: 13px;
        background-color: #eeeeee;
        border-radius: 2px;
        word-break: break-all;
        border: none;
        box-shadow: none;
        font-weight: normal;
        color: black;
    }
}