/**
 * Contains overrides of Sematic UI comonents
 *
 * NOTE: Check modal component at modals.scss
 */

.ui {

    &.table {

        border-radius: 2px;

        td {

            word-break: break-all;
        }
    }

    &.message {

        border-radius: 2px;
        box-shadow: none;
        -webkit-box-shadow: none;

        i {

            margin-right: 16px;
            font-size: 16px;
        }
    }

    &.red.message {

        background-color: #fff5f4;
        box-shadow: none;
        -webkit-box-shadow: none;
        color: #e72214;
    }

    &.button {

        font-family: $font-family;
        border-radius: 2px;
        font-weight: 500;

        i {
            margin-right: 8px;
        }
    }

    &.labeled.input > .label {

        border: 1px solid #d6d6d6;
        color: #999999;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    &.checkbox label {

        // font-weight: 500;
        color: #666666;

        &:before {

            background-color: #fbfbfb;
            border-radius: 2px;
        }

    }
    
    &.form .field {

        & > label {

            color: #666666;
            margin-bottom: 6px;
            font-weight: 500;
        }

        & .selection.dropdown {

            border-radius: 2px;

            &.active {

                background-color: white;
            }

            .menu {

                border-radius: 2px;
            }
        }
    }

    &.input {

        input {

            font-size: 13px;
            border-radius: 2px;
            
            &:focus {

                border-radius: 2px;
            }
        }

        textarea {

            background-color: white;
            border-radius: 2px;

            &:focus {

                border-radius: 2px;
            }
        }
    }

    .multiple.dropdown > .label {

        font-size: 13px;
        background-color: #eeeeee;
        border-radius: 2px;
        word-break: break-all;
        border: none;
        box-shadow: none;
        font-weight: normal;
        color: black;
    }

    .ui.checkbox input:checked~.box:after, 
    .ui.checkbox input:checked~label:after {

        color: #c47154;
    }

    .ui.radio.checkbox input:checked~.box:after, 
    .ui.radio.checkbox input:checked~label:after {

        background-color: #c47154;
    }

}


.ui.form input:not([type]), 
.ui.form input[type=date], 
.ui.form input[type=datetime-local], 
.ui.form input[type=email], 
.ui.form input[type=file], 
.ui.form input[type=number], 
.ui.form input[type=password], 
.ui.form input[type=search], 
.ui.form input[type=tel], 
.ui.form input[type=text], 
.ui.form input[type=time], 
.ui.form input[type=url],
.ui.button,
.ui.list .list>.item .header,
.ui.list>.item .header {

    border-radius: 2px;
    width: auto;
    
    &:focus {
        border-radius: 2px;
    }
}

.ui.table thead tr:first-child > th:first-child {

    border-radius: 0;
}

.ui.table thead tr:first-child > th:last-child {

    border-radius: 0;
}

.ui.form .field.error .input, 
.ui.form .field.error label, 
.ui.form .fields.error .field .input, 
.ui.form .fields.error .field label {

    // Prevent it from showing red when there is validation error.
    color: #666666;
}

.ui.attached.error.message, .ui.error.message {

    box-shadow: none;
    -webkit-box-shadow: none;
    color: #ba1e12;
    background-color: #fff4f4;
    border: 1px solid #f4c7c7;
}

.ui.form .field.error input:not([type]), .ui.form .field.error input[type=date], .ui.form .field.error input[type=datetime-local], .ui.form .field.error input[type=email], .ui.form .field.error input[type=file], .ui.form .field.error input[type=number], .ui.form .field.error input[type=password], .ui.form .field.error input[type=search], .ui.form .field.error input[type=tel], .ui.form .field.error input[type=text], .ui.form .field.error input[type=time], .ui.form .field.error input[type=url], .ui.form .field.error select, .ui.form .field.error textarea, .ui.form .fields.error .field input:not([type]), .ui.form .fields.error .field input[type=date], .ui.form .fields.error .field input[type=datetime-local], .ui.form .fields.error .field input[type=email], .ui.form .fields.error .field input[type=file], .ui.form .fields.error .field input[type=number], .ui.form .fields.error .field input[type=password], .ui.form .fields.error .field input[type=search], .ui.form .fields.error .field input[type=tel], .ui.form .fields.error .field input[type=text], .ui.form .fields.error .field input[type=time], .ui.form .fields.error .field input[type=url], .ui.form .fields.error .field select, .ui.form .fields.error .field textarea {

    border-color: #f4c7c7;

    &::placeholder {

        color: #ba1e12;
    }
}

.ui.form .field.error .ui.dropdown, .ui.form .fields.error .field .ui.dropdown {

    border-color: #f4c7c7 !important;
}

// Override Semantic UI
.ui.dropdown >.text {

    color: $link-color;
    font-weight: 500;

    &:hover {

        text-decoration: underline;
    }
}

.ui.floating.dropdown {

    .menu {

        border: none;
        background-color: rgba( 255, 255, 255, 0.95 );
        box-shadow: 5px 5px 5px 0px rgba( 0, 0, 0, 0.2 ) !important;
        -webkit-box-shadow:  5px 5px 5px 0px rgba( 0, 0, 0, 0.2 ) !important;
        border-radius: 10px !important;

        .scrolling.menu {

            background-color: transparent;
            border-top: none;
            box-shadow: none !important;
            -webkit-box-shadow:  none !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            .item {

                color: #292929;
                font-size: 13px;
            }
        }
    }
}

