
.__feature-filter {

    .fas {

        color: $main-color;
        width: 20px;
    }
}

.__metrics {
    
    display: flex;
    margin-top: 20px;

    &__title {

        width: 120px;
        font-weight: 500;
        color: #ab5031;
    }

}

// Override google charts
.main__content--predictive {

    // Override Semantic UI
    .ui.dropdown >.text {

        color: $link-color;
        font-weight: 500;

        &:hover {

            text-decoration: underline;
        }
    }

    .ui.floating.dropdown {

        .menu {

            border: none;
            background-color: rgba( 255, 255, 255, 0.95 );
            box-shadow: 5px 5px 5px 0px rgba( 0, 0, 0, 0.2 ) !important;
            -webkit-box-shadow:  5px 5px 5px 0px rgba( 0, 0, 0, 0.2 ) !important;
            border-radius: 10px !important;

            .scrolling.menu {

                background-color: transparent;
                border-top: none;
                box-shadow: none !important;
                -webkit-box-shadow:  none !important;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                border-bottom-left-radius: 10px !important;
                border-bottom-right-radius: 10px !important;

                .item {

                    color: #292929;
                    font-size: 13px;
                }
            }
        }
    }
}
