.main .main__content--upload-scripts {

    padding: 20px 0;
    overflow: auto;

    .__vehicle {

        display: flex;
        padding: 0 30px;

        .strip {

            padding: 0;
            margin-right: 20px;

            &__title {

                font-size: 12px;
            }
        }

        &__icon {

            color: #bb5a38;
        }

        &__block {

            .strip__item--active {

                background-color: $main-color;
                border-color: $main-color;
            }
        }
    }

    .strip {

        padding: 0 30px;
        margin-bottom: 10px;

        &__item {

            &--active {

                background-color: #1685dd;
                border-color: #1685dd;
            }
        }

        &.select-model {

            .inline.fields .field {

                margin-bottom: 0;
            }
        }
    }

    .upload-scripts {

        display: flex;
        height: calc( 100% - 70px );

        &.upload-scripts--sql,
        &.upload-scripts--mojo,
        &.upload-scripts--pyshark {

            display: none;
        }

        &--active {

            &.upload-scripts--sql,
            &.upload-scripts--mojo {

                display: flex;
            }

            &.upload-scripts--pyshark {

                display: block;
            }
        }


        &--sql {

            .field__content.ui.labeled.input > .label {

                font-size: 14px;
                width: auto;
            }
        }

        .fields {

            .field {

                margin-bottom: 20px;
            }
        }

        .field-group {

            .field {

                margin-bottom: 10px;

                &__title {


                    font-size: 13px;
                    margin-bottom: 5px;
                }

                &__content {

                    margin-bottom: 5px;
                }
            }

            &__header {

                margin-bottom: 10px;
                color: #666666;
                font-weight: 500;
                display: flex;
                justify-content: flex-end;
            }

            &__title {

                flex-grow: 1;
                font-size: 13px;
            }

            &__icon {

                font-size: 16px;
                cursor: pointer;
                margin-left: 10px;
                color: #0bb8c0;

                &:hover {

                    color: #0a868c;
                }
            }
        }
    }

    .ui.checkbox input:checked~.box:after, 
    .ui.checkbox input:checked~label:after {

        color: #c47154;
    }

    .ui.radio.checkbox input:checked~.box:after, 
    .ui.radio.checkbox input:checked~label:after {

        background-color: #c47154;
    }

}