.main .main__content--upload-scripts {

    padding: 20px 0;

    .strip {

        padding: 0 30px;

        &__item {

            &--active {

                background-color: #1685dd;
                border-color: #1685dd;
            }
        }
    }

    .container-1 {

        display: flex;
        height: calc( 100% - 70px );

        .editor {

            min-width: 250px;
            padding-left: 30px;
        }

        .splitter {

            display: flex;
            align-items: center;
            justify-content: center;

            &__handle {

                color: #cccccc;
                font-size: 14px;
                cursor: w-resize;

                &:hover {

                    color: #999999;
                }
            }
        }

        .fields {

            margin-left: 15px;
            width: 500px;
            min-width: 260px;
            padding-right: 30px;
            overflow: auto;

            .field {

                margin-bottom: 20px;
            }
        }

        .field-group {

            .field {

                margin-bottom: 10px;

                &__title {


                    font-size: 13px;
                    margin-bottom: 5px;
                }

                &__content {

                    margin-bottom: 5px;
                }
            }

            &__header {

                margin-bottom: 10px;
                color: #666666;
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
            }

            &__title {

                flex-grow: 1;
            }

            &__icon {

                font-size: 16px;
                cursor: pointer;
                margin-top: 2px;
                margin-left: 10px;
                color: #0bb8c0;

                &:hover {

                    color: #0a868c;
                }
            }
        }
    }

    .validate-button {

        background-color: #03a9f4;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 2px;
        padding: 7px 14px;
        border: 1px solid transparent;
        display: flex;
        cursor: pointer;
        width: 120px;

        &:hover {

            background-color: #0983ba;
        }

        &__icon {

            width: 25px;
            font-size: 15px;
        }
    }
}