$font-family: "Proxima Nova", Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
$main-color: #bb247f;
$main-background-color: #f5f5f5;
$link-color: #c33189;

$choc: #a54c2c;

$f5: #f5f5f5;
$fb: #fbfbfb;

$top-bar-height: 60px;
$main-header-height: 48px;

// Colors of tatus
$built: #39a739;
$building: #6bca00;
$errored: #ff3224;
$failed: #da1204;
$waiting: #349ccc;
$aborted: #f7407b;
$promoted: #ff9800;
$promoting: #ffc822;
$decommissioning: #6374ce;
$decommissioned : #41509e;
$paused: #ea67bc;
$deleting: #333333;